body {
  background-color: #0d0d0d;
  color: white;
}

#logo {
  margin-inline: 45%;
  margin-top: 2%;
  position: sticky;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  gap: 10px;
}

.inp {
  width: 350px;
  height: 50px;
  border-radius: 20px;
  border: none;
  border: 1px solid black;

  outline: none;
}

#heading_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50%;

  margin-left: 25%;

  margin-top: 80px;

  border-bottom: 1px solid grey;
}

#empty_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide {
  visibility: hidden;
  height: 0;
}

.taski {
  width: 716px;
  margin-bottom: 20px;
  border-radius: 9px;
  background-color: #262626;
  padding-block: 20px;
  padding-inline: 9px;
}

#tasks_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;

  margin-left: 25%;

  margin-top: 80px;
}

.ip {
  width: 550px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 20px;
  margin-right: 4px;
  background-color: #262626;
  color: white;
}

.btn1 {
  background-color: #a881af;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn2 {
  background-color: #98b4d4;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.span_2 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.span_priority {
  margin-left: 580px;
  color: #8284fa;
  font-size: 15px;
  font-weight: 200px;
}

.inpbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#count {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#filter {
  border: 1px solid black;
  outline: none;
  border-radius: 15px;
  width: 115px;
  height: 25px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: #262626;
  color: #4ea8de;
  cursor: pointer;
}
#form_input1 {
  text-align: center;
  font-size: 20px;
  background-color: #262626;
  color: #808080;
  cursor: pointer;
}

#form_input2 {
  text-align: center;
  font-size: 20px;
  background-color: #262626;
  color: #808080;

  cursor: pointer;
}

#selection {
  text-align: center;
  font-size: 20px;
  background-color: #262626;
  color: #808080;
  cursor: pointer;
}

.inp {
  font-size: 20px;

  background-color: #1e6f9f;
  color: #f2f2f2;
  cursor: pointer;
}

.spanny {
  width: 35px;
  height: 19px;
  padding: 5px, 8px, 5px, 8px;
  padding-inline: 11px;
  border-radius: 999px;
  gap: 10px;
  background-color: #333333;
  color: white;
}

input[type="checkbox"] {
  width: 25px; /* Set width */
  height: 25px; /* Set height */
  clip-path: circle(26% at 50% 50%); /* Set the clip path of circle*/
  color: #1e6f9f;
}

input[type="checkbox"]:checked {
  accent-color: #1e6f9f;
}

#completed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50%;

  margin-left: 25%;

  margin-top: 10px;

  border-bottom: 1px solid grey;
}

#started {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50%;

  margin-left: 25%;
  margin-top: 20px;

  border-bottom: 1px solid grey;
}
